body {
    background-color: antiquewhite;
}
#header {
    background-color: brown;
    border-radius: 10px;
    color: antiquewhite;
}
#header h1 {
    padding: 10px;
    font-family: 'Patrick Hand', cursive; 
    font-size: 70px;
}
#header h5 {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
#part1 {
    height: 100%;
    width: 45%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgba(254, 251, 251, 0.8);
    color: brown;
    font-family: 'Patrick Hand', cursive; 
}
#FEED {
    border:0;
    background-color:brown;
    color: antiquewhite;
    border-radius:10px;
    cursor:pointer;
}
#FEED:hover {
    color:#003C9D;
    background-color:antiquewhite;
    border:2px brown solid;
}
